.content_bj_img {
	width:100%;
	height:4rem;
	background-image: url(../img/login06.jpg);
	background-size: cover;
}
.content_pwd_txt_icon {
	width: 100%;
	height: 1.5rem;
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_pwd_txt_icon span {
	font-size: .4rem;
	background-image: -webkit-linear-gradient(right,rgba(53, 142, 184, .6),rgba(53, 142, 184, .8),#358EB8);
	background-image: -moz-linear-gradient(right,rgba(53, 142, 184, .6),rgba(53, 142, 184, .8),#358EB8);
	background-image: linear-gradient(right,rgba(53, 142, 184, .6),rgba(53, 142, 184, .8),#358EB8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.content_pwd_input {
	width: 5rem;
	height: 1rem;
    margin: .5rem auto;
	position: relative;
	display: flex;
}
input:-moz-placeholder {   
    color: #999;   
}   

input:-ms-input-placeholder {   
    color: #999;   
}   

input::-webkit-input-placeholder {   
    color: #999;   
}
.content_pwd_input input {
	border: none;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #999; 
	color: #999;
	border-bottom: 1px solid;
	border-image: -webkit-linear-gradient(90deg, rgba(0,216,247,0.00) 0%, #999 50%, rgba(0,216,247,0.00) 100%) 2 2 2 2;
	border-image: -moz-linear-gradient(90deg, rgba(0,216,247,0.00) 0%, #999 50%, rgba(0,216,247,0.00) 100%) 2 2 2 2;
	border-image: linear-gradient(90deg, rgba(0,216,247,0.00) 0%, #999 50%, rgba(0,216,247,0.00) 100%) 2 2 2 2;
}
.content_pwd_input input:focus {
	border-bottom: 1px solid #358eb8;
	border-bottom: 1px solid;
	border-image: -webkit-linear-gradient(90deg, rgba(0,216,247,0.00) 0%, #358eb8 50%, rgba(0,216,247,0.00) 100%) 2 2 2 2;
	border-image: -moz-linear-gradient(90deg, rgba(0,216,247,0.00) 0%, #358eb8 50%, rgba(0,216,247,0.00) 100%) 2 2 2 2;
	border-image: linear-gradient(90deg, rgba(0,216,247,0.00) 0%, #358eb8 50%, rgba(0,216,247,0.00) 100%) 2 2 2 2;
	color: #358eb8;
}
.content_btn {
	width: 5rem;
	height: 1rem;
	display: flex;
	margin:  auto;
}
.content_btn  button {
	width: 5rem;
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    border-radius: 1rem;
    background: -webkit-linear-gradient(-90deg, #358eb8ad ,#358eb8);
    background: -o-linear-gradient(-90deg, #358eb8ad ,#358eb8);
    background: -moz-linear-gradient(-90deg, #358eb8ad ,#358eb8);
    background: linear-gradient(-90deg, #358eb8ad ,#358eb8);
    box-shadow: 0rem 0.1rem 0.2142857142857143rem #358eb8a6;
    -moz-box-shadow: 0rem 0.1rem 0.2142857142857143rem #358eb8a6;
    -webkit-box-shadow: 0rem 0.1rem 0.2142857142857143rem #358eb8a6;
}
.tips {
	padding: .15rem .4rem;
	color: #fff;
	background-color: rgba(0,0,0,.7);
	position: absolute;
	bottom: 1rem;
	left: 50%;
	margin-left: -1.3rem;
	text-align: center;
	border-radius: 1rem;
	box-shadow: 0rem 0rem 0.1rem #000;
    -moz-box-shadow: 0rem 0rem 0.1rem #000;
    -webkit-box-shadow: 0rem 0rem 0.1rem #000;
	display: none;
}
.tips p {
	font-size: .3rem;
}
